* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
}

p {
    margin-left: 20px;
}

button{
    margin-left: 80px;
}

div{
    margin: 20px;
}